.title{
    font-size: 35px;
    color: #2d2926;
}

.list li{
    border: none;
    background-color: #2d2926;
    color: #fff;
    border-bottom: 1px solid #2d2926;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.info{
    background-color: #f5f5f5;
}

.info h4{
    color: #2d2926;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.total,
.price{
    color: #2d2926;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.price{
    color: #f8b02d;
}

.order,
.order:focus{
    background-color: #f8b02d;
    border-color:  #f8b02d;
    color: #000;
    outline: none;
    box-shadow: none;
}

.order:hover,
.back,
.back:hover,
.back:focus{
    background-color: #2d2926;
    color: #FFF;
    border-color:  #2d2926;
    box-shadow: none;

}