.title{
    font-size: 30px;
    color: #2d2926;
}

.text{
    color: #a39382;
    font-size: 16px;
}

.price{
    color: #f8b02d;
    font-size: 20px;
}

.order,
.order:focus{
    background-color: #f8b02d;
    border-color:  #f8b02d;
    color: #000;
    outline: none;
    box-shadow: none;
}

.order:hover,
.back,
.back:hover,
.back:focus{
    background-color: #2d2926;
    color: #FFF;
    border-color:  #2d2926;
    box-shadow: none;

}